### python 3.10 ###

# insightface
Cython>=0.29.28
cmake>=3.22.3    
# numpy>=1.22.3


# utralytics
numpy>=1.23.0,<2.0.0
matplotlib>=3.3.0
opencv-python>=4.6.0
pillow>=7.1.2
pyyaml>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.8.0
torchvision>=0.9.0
tqdm>=4.64.0
psutil==6.0.0
py-cpuinfo==9.0.0
pandas>=1.1.4
seaborn>=0.11.0
ultralytics-thop>=2.0.0

# missing
onnxruntime==1.19.2
tensorrt==10.3.0
pyrealsense2==2.55.1.6486
pycuda==2024.1.2
albumentations==1.4.15
onnx==1.16.2
pymilvus==1.1.2